

.navbar{
background-color: #150E00;
color: white;
}

.navbar-brand{
font-size: 50px;
color: white;
}

.nav-item{
font-size: 30px;
color: white;

}

 span{
 font-size:20px;
 }

  .span{
  font-size:20px;
  color: white;
  }
.find {
color: white;
border: 1px solid white;
}
