

.navbar{
background-color: #150E00;
color: white;
}

.addProduct{
background-color: #150E00;
color: white;
}

.navbar-brand{
font-size: 50px;
color: white;
}

.nav-item{
font-size: 30px;
color: white;

}

 span{
 font-size:20px;
 }

  .span{
  font-size:20px;
  color: white;
  }
.find {
color: white;
border: 1px solid white;
}
.vendorForm{
border: 3px solid #150E00;
}

.mform{
border-right: 3px solid #150E00;
}
.vendorWelcome{
font-size:50px;
color: #150E00;
}

.form{
height:500px;
}

.addVendorbtn{
background-color: #150E00;
color:white;
}



