<h1 class="cat">$kiosk.getName()</h1>

<h2 class="cat">Edit kiosk:</h2>

<form action="/kiosksEdit/$kiosk.getId()/edit" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-lg add"></p class="add-btn">Update Kiosks</p></button>
</form>

<a href="/index">Return to Home</a>