<!DOCTYPE html>
<html>
  <head>
    <title>WildLife Tracker </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/app.css'>
  </head>
  <body>

      <!--Main Navigation-->
      <header>
<!--Navbar-->
<nav class="navbar navbar-expand-md  fixed-top">

  <div class="container">

    <!-- Navbar brand -->
    <a class="navbar-brand mb-5" href="#">KITENGE</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link " href="/">
           <button type="button" class="btn text-center btn-lg find mt-5 mb-5 btn-rounded"><span>HOME <i class="fas fa-home fa-1x"></i></span></button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <button type="button" class="btn text-center btn-lg find mt-5 mb-5 btn-rounded"><span>CART <i class="fas fa-cart-arrow-down fa-1x"></i></span></button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addVendor">
            <button type="button" class="btn text-center btn-lg find mt-5 mb-5 btn-rounded"><span>Become a Vendor</span></button>
          </a>
        </li>

      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control span mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
    <!-- Collapsible content -->

  </div>

</nav>
<!--/.Navbar-->
      </header>
      <!--Main Navigation-->


      <div class="container-fluid bg">
      <div class="" >
        <div class="text-white text-center py-5 px-4 my-5">
          <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>WILDLIFE TRACKER</strong></h2>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm main">
          #parse( $template )
          </div>
        </div>
      </div>


  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
  <script>
  // Animations init
  new WOW().init();
  </script>
  </body>
</html>