<h1 class="cat">$product.getName()</h1>

<h2 class="cat">Edit Product:</h2>

<form action="/productsEdit/$product.getId()/edit" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-lg add"></p class="add-btn">Update Product</p></button>
</form>

<a href="/index">Return to Home</a>